.App {
  text-align: center;
}

button {
  background: #EFEFEF;
  color: black;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: black;
  color: #EFEFEF;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

nav {
  width: 100vw;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid currentColor;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  main {
    grid-template-columns: 1fr;
  }
}